@import "compass/css3";

$vibrant: #7b00bd;
$base: rgba(0,155,155,0.5);
$off: yellow;
$dark: #3b3b3b;
$light: #666;
$lighter: #999;
$lightest: #fff;


$xxlarge: 3.0rem;
$xlarge: 2.0rem;
$large: 1.5rem;
$medium: 1.25rem;
$small: 1.0 rem;
$xsmall: 0.8rem;

/* ---------------------------------------------------------------------------
 * Resets
 * --------------------------------------------------------------------------- */

/*
&#8220;	left-“
&#8221;	right-”
&#8216;	left-‘
&#8217;	right-’
*/

* {
	@include box-sizing(border-box);
}

body {
	border: 0;
	color: $dark;
	font-family: 'PT Sans', sans-serif;
	font-size: $small;
	margin: 0;	
	padding: 0;
}

a { 

	& {
		cursor: pointer;
		text-decoration: none; 
	}

	&:hover { 
		color: $lighter; 
	}

	&:active { 
		color: $dark; 
	}

}

hr { 
	border-top: 3px dashed $lighter; 
}

li {
	margin-top: 5px;
}

em {
	display: block;
	margin: auto;
	width: 90%;
}

pre code { 
	font-size: $xsmall;
	white-space: pre-wrap;
}

h1, h2, h3 {
	color: $dark;
	margin-top: 0;
}

h1 { 
	font-size: $xlarge;
}

h2 {
	font-size: $large;
}

h3 {
	font-size: $medium;
}

/* ---------------------------------------------------------------------------
 * Globals
 * --------------------------------------------------------------------------- */


.template {

	a {

		& {
			background: $light;
			color: $off;		
			padding: 0 2px;
		}

		&:hover { 
			color: $lighter; 
		}

		&:active { 
			color: $dark; 
		}

	}

	header {

		& {
			background-color: $base;
			padding-bottom: 20px;
			text-align: center;
		}

		img {
			cursor: pointer;
			position: relative;
			top: 25px;
		}

	}

	section {		
		margin: 20px auto;
		max-width: 500px;
	}

	p {
		padding: 0 10px;
	}

}

.forkme {
	position: absolute;
	right: 0;
	top: 0;
}

.hl {
	color: yellow;
	cursor: pointer;
}

h2.hero {

	& {
		text-align: center;
		margin: 30px;
	}

	a {
		background: $vibrant;
		border-radius: 5px;
		color: $lightest;
		padding: 10px;
	}
}

/* ---------------------------------------------------------------------------
 * Home
 * --------------------------------------------------------------------------- */

 section.home {

	article {

		& {			
			margin: 10px 0;
			padding: 0 5px;
			position: relative;
		}

		&:first-child { 
			border-top: 0; 
		}

		&[x-link] { 
			& {
				color: $lighter;
				cursor: pointer;
			}
			&:active { color: $lighter; } 
			&:hover { color: $dark; }
			&:nth-of-type(2) { h2:first-letter { color: $vibrant; } }
			&:nth-of-type(3) { h2:first-letter { color: $dark; } }
			&:nth-of-type(4) { h2:first-letter { color: $base; } }
		}

		h2 {

			& {
				font-weight: normal;
			}

			&:first-letter {
				font-size: $xxlarge;
				font-weight: bold;
			}

		}

	}

	section:nth-of-type(2) {
		margin-top: 50px;
	}

 }

/* ---------------------------------------------------------------------------
 * Footer
 * --------------------------------------------------------------------------- */

footer {

	& {
		margin: 80px 0;
	}

	nav {
		border-top: 3px dashed $lighter;
		max-width: 320px;
		margin: auto;
	}

	dl {
		float: left;
	}

	a {	
		background: transparent;
		color: $light;
		font-style: italic;
	}

}