<div class="template">

	<header>
		<h1><img src="images/logo.png" x-link="#/" />docs</h1>
		<em>Lure.js usage documentation</em>		
	</header>

	<section>

		<article>
			<h2>.init</h2>
			<p>
				Here we create a new instance of Lure and use init which
				binds the initial routes to the onpopstate event.
			</p>
			<pre x-highlight class="javascript"><code>	
			var App = new Lure( $("[x-view]") );
			App.init();
			</code></pre>

		</article>

		<article>
			<h2>.route</h2>
			<p>
				Wires together the current URL location, view template, and 
				controller.
			</p>
			<pre x-highlight class="javascript"><code>
			App.route("/", {

			    templateUrl: "template.html",
			    controller: "TemplateCtrl"

			});
			</code></pre>
		</article>	

		<article>
			<h2>.controller</h2>
			<p>
				Breaks the code into functional pieces
				and can be called from the DOM with the 
				x-ControllerName="value" attribute or 
				from within a route using the controller
				property.
			</p>
			<pre x-highlight class="javascript"><code>
			App.controller("name", 
				function(model, el, value, controllers) {

				    $(el).on("click", function() {

				        window.location.href = value;

				    });	

				});
			</code></pre>			

			<h2>.http</h2>
			<p>
				Is just a wrapper for the JQuery
				$.ajax call that automatically
				updates the view after the data
				has been returned. All the same
				$.ajax arguments apply.
			</p>
			<pre x-highlight class="javascript"><code>
			App.http({

			    url: 'https://api.github.com/users/tylerbuchea/' +
			         'gists?callback=?',
			    dataType: 'json',
			    success: function(data) {
			        model.myinfo.github = data;
			    }
				
			});
			</code></pre>
		</article>

	</section>

</div>