<div class="template">

	<header>

		<h3><img src="images/logo.png" x-link="/" />Lure.js</h3>
		<em>an little educational JavaScript MVC for people with little time</em>	

	</header>

	<section class="home">

		<article x-link="/model">
			<h2>Model</h2>
			<p>
			The model is the data which
			is merged with the template
			to produce the view.
			</p>
		</article>

		<hr />

		<article x-link="/view">
			<h2>View</h2>
			<p>
			The view begins its life as 
			a template, is merged with the model, 
			and finally rendered into the browser DOM.
			</p>
		</article>

		<hr />

		<article x-link="/controller">
			<h2>Controller</h2>
			<p>
			It&#8217;s job is to construct 
			the model and publish 
			it to the view.
			</p>
		</article>

	</section>

</div>