<div class="template">

	<header>

		<h1><img src="images/logo.png" x-link="#/" />Model</h1>
		<em>The model is the data which
			is merged with the template
			to produce the view.</em>	

	</header>

	<section class="MVC">

		<article>

			<h2>lure.js</h2>
			<pre x-highlight class="javascript"><code>				
			/* Globals */
			var controllers = {}; 
			var routes = {};
			var scope = {};
			var thisRoute;
			</code></pre>

			<p>
				The model is how you structure your data.
				You will create a hierarchy in the global 
				scope object, so that it will merge nicely 
				with your templates.				
			</p>

			<p>
				Scope is a global variable that all 
				controllers have access to.
				This is how data is shared throughout 
				your app. You could say that the scope is equivalent to
				the model.
			</p>

			<h2>lure.js</h2>
			<pre x-highlight class="javascript"><code>
			// store model
			var model = scope;
			</code></pre>

			<p>
				After the model has been set 
				it will be merged with a
				template to create our
				next topic the <a href="#/view">View</a>.
			</p>

		</article>

	</section>

</div>