<div class="template">

	<header>
		<h3><img src="images/logo.png" />dictionary</h3>
		<em>definitions for all the words that aren't <b>M</b>, <b>V</b>, or <b>C</b></em>		
	</header>

	<section>

		<article>
			<h3>Route</h3>
			<p>
			Routes make it easy to wire 
			together controllers, view templates, and 
			the current URL location in the browser.
			</p>
		</article>

		<article>
			<h3>Template</h3>
			<p>
			Template is declarative html that, along with 
			information from the model, becomes 
			the view that a user sees in the browser.
			</p>
		</article>	

		<article>
			<h3>Scope</h3>
			<p>
			Scope stores the model and can be modified
			by controllers which in turn updates the view.
			</p>
		</article>

		<article>
			<h3>Model</h3>
			<p>
			The model is the data which
			is merged with the template
			to produce the view.
			</p>
		</article>

		<article>
			<h3>View</h3>
			<p>
			The view begins its life as 
			a template, is merged with the model, 
			and finally rendered into the browser DOM.
			</p>
		</article>

		<article>
			<h3>Controller</h3>
			<p>
			It's job is to construct 
			the model and publish 
			it to the view.
			</p>
		</article>

	</section>

</div>