<div class="template">

	<header>
		<h1><img src="images/logo.png" x-link="#/" />docs</h1>
		<em>Lure.js usage documentation</em>		
	</header>

	<section>

		<article>
			<h2>.init</h2>
			<pre x-highlight class="javascript"><code>	
			var App = new lure( $("[x-view]") );
			App.init();
			</code></pre>
			
			<p>
				
			</p>
		</article>

		<article>
			<h2>.route</h2>
			<pre x-highlight class="javascript"><code>
			App.route("/", {

				templateUrl: "views/home.html",
				controller: "HomeCtrl"

			});
			</code></pre>
		</article>	

		<article>
			<h2>.controller</h2>
			<pre x-highlight class="javascript"><code>
			App.controller("link", function(scope, el, value) {

				$(el).on("click", function() {
					window.location.href = value;
				});	

			});
			</code></pre>			

			<h2>.http</h2>
			<pre x-highlight class="javascript"><code>
			App.http({
				
			});
			</code></pre>
		</article>

	</section>

</div>