<div class="template">

	<header>

		<h1><img src="images/logo.png" x-link="#/" />Lure.js</h1>
		<em>A tiny educational MVC framework written in JavaScript</em>	

	</header>

	<section class="home">

		<h1 class="hero"><a href="https://s3.amazonaws.com/SimpleCDN/lure.js">Download Lure.js</a></h1>
		<h3>What is MVC?</h3>

		<article x-link="#/model">
			<h2>Model</h2>
			<p>
			The model is the data which
			is merged with the template
			to produce the view.
			</p>
		</article>

		<hr />

		<article x-link="#/view">
			<h2>View</h2>
			<p>
			The view begins its life as 
			a template, is merged with the model, 
			and finally rendered into the browser DOM.
			</p>
		</article>

		<hr />

		<article x-link="#/controller">
			<h2>Controller</h2>
			<p>
			It&#8217;s job is to construct 
			the model and publish 
			it to the view.
			</p>
		</article>

	</section>

</div>