@import "compass/css3";

$vibrant: #7b00bd;
$base: rgba(0,155,155,0.5);

$dark: #3b3b3b;
$light: #666;
$lighter: #999;
$lightest: #fff;

/* ---------------------------------------------------------------------------
 * Resets
 * --------------------------------------------------------------------------- */

/*
&#8220;	left-“
&#8221;	right-”
&#8216;	left-‘
&#8217;	right-’
*/

* {
	@include box-sizing(border-box);
}

html {

}

body {
	border: 0;
	color: $dark;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.0rem;
	margin: 0;	
	padding: 0;	
}

h1, h2, h3 {
	margin-top: 0;
}

a { 
	text-decoration: none; 
	cursor: pointer;
	&:hover { color: $lighter; }
	&:active { color: $dark; }
}

hr { 
	border-top: 3px dashed $lighter; 
}

li {
	margin-top: 5px;
}

em {
	display: block;
	margin: auto;
	width: 90%;
}

pre code { 
	font-size: 0.8rem;
	white-space: pre-wrap;
}

/* ---------------------------------------------------------------------------
 * Globals
 * --------------------------------------------------------------------------- */

.template {

	a {
		&:hover { color: $lighter; }
		&:active { color: $dark; }
		background: $light;
		color: yellow;		
		padding: 0 2px;
	}

	h2 { 
		font-weight: normal;
		font-size: 1.5rem;
	}

	header {

		& {
			background-color: $base;
			padding-bottom: 20px;
			text-align: center;
		}

		h1 {
			font-family: 'PT Sans', sans-serif;
			font-size: 2rem;
		}

		img {
			cursor: pointer;
			position: relative;
			top: 25px;
		}

	}

	em {
	}

	section {		
		margin: 20px auto;
		max-width: 500px;
	}

	p {
		padding: 0 10px;
	}

}

.forkme {
	position: absolute;
	top: 0;
	right: 0;
}

.hl {
	background: #3b3b3b;
	color: yellow;
	cursor: pointer;
}

h1.hero {

	& {
		text-align: center;
		margin: 30px;
	}

	a {
		background: $vibrant;
		border-radius: 5px;
		color: $lightest;
		padding: 10px;
	}
}

/* ---------------------------------------------------------------------------
 * Home
 * --------------------------------------------------------------------------- */

 section.home {

	article {

		& {			
			margin: 10px 0;
			padding: 0 5px;
			position: relative;
		}

		&[x-link] { 
			& {
				cursor: pointer;
			}
			&:hover { color: $lighter; }
			&:active { color: $dark; } 
		}

		&:nth-of-type(1) { h2:first-letter { color: $vibrant; } }
		&:nth-of-type(2) { h2:first-letter { color: $dark; } }
		&:nth-of-type(3) { h2:first-letter { color: $base; } }

		&:first-child { border-top: 0; }

		h2:first-letter { 
			font-size: 3rem;
			font-weight: bold;
		}

	}

	section:nth-of-type(2) {
		margin-top: 50px;
	}

 }

/* ---------------------------------------------------------------------------
 * Footer
 * --------------------------------------------------------------------------- */

footer {

	& {
		margin: 80px 0;
	}

	nav {
		border-top: 3px dashed $lighter;
		max-width: 320px;
		margin: auto;
	}

	dl {
		float: left;
	}

	a {	
		background: transparent;
		color: $light;
		font-style: italic;
	}

}